<div class="py-5 text-center">
  <%= image_tag 'ms_logo.png', alt: 'ms-online-shop', class: 'd-block mx-auto shop-image' %>
  <h2>Shop</h2>
  <p class="lead"><%= I18n.t('use_the_product_catalog_description') %></p>
</div>

<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <%= render 'basket' %>
    <%#= render 'clear_basket' %>
  </div>
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Product Catalog</h4>
    <% if @products.any? %>
      <table class='table table-bordered'>
        <thead class='thead-light'>
          <tr>
            <th>Product</th>
            <th>Code</th>
            <th>Price</th>
          </tr>
        </thead>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.product_name %></td>
            <td><%= product.code %></td>
            <td><%= number_to_currency(product.price, unit: current_currency_symbol) %></td>
          </tr>
        <% end %>
      </table>
      <%= render 'add_basket_item' %>
    <% else %>
      <p><%= I18n.t('no_products_to_show') %></p>
    <% end %>
  </div>
</div>
